body{
    background-image: url("background.png");
	background-position:center;
	background-size:screen.width screen.height;
}

#credits{
    text-align: center;
    margin: auto;
    margin-top: 25px;
}

#credits p{
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 120%;
    color: black;
}

img{
    display: none;
}

audio{
    display: none;
}

canvas
{
    border: 1px solid black;
    padding: 0;
    margin: auto;
    display: block;
	margin-top: 5em;
}